# Google Analytics 4 (Measurement ID)
PUBLIC_GA_ID=G-E9NYGFFR09

# Google Search Console Verification Code
# Found in Search Console > Settings > Ownership Verification > HTML Tag
PUBLIC_GSC_ID=YOUR_VERIFICATION_CODE
